@model Cede_Dotnet_MVC.ViewModels.UserValidation
@{
    ViewBag.Title = "Ingreso Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Ingreso de usuario</h2>

    @using (Html.BeginForm("ValidateUser", "User", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        @Html.ValidationMessage("InvalidUser", new { @class = "alert-danger" })

        <div class="form-group">
            @Html.LabelFor(p => p.Nit, new { @class = "caption" })
            @Html.TextBoxFor(p => p.Nit, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.Nit, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.NitDate)
            @Html.TextBoxFor(p => p.NitDate, new { @class = "form-control", @type = "date" })
        </div>
        <button class="btn btn-primary" type="submit">Ingresar</button>
    }
</div>

